.header-block
  //height: 100vh
  background-image: url(../../assets/img/block-top-image.png)
  background-repeat: no-repeat
  background-size: cove
  &-container
    position: relative
    margin: 0
    padding-top: 100px
    padding-left: 356px
    padding-bottom: 150px
  &__title
    width: 460px
    margin-bottom: 50px
    font-family: 'Helvetica Neue Cyr', sans-serif
    font-size: 50px
    line-height: 1.2
    font-weight: 700
    color: $title-color
    text-transform: uppercase
  &__subtitle
    margin-bottom: 88px
    font-family: 'Helvetica Neue Cyr', sans-serif
    font-size: 24px
    line-height: 1.2
    font-weight: 500
    color: $title-color
  &__button
    margin: 0
    padding: 22px 46px 31px 46px
    border-radius: 50px
    border: none
    background-color: $button-color
    font-size: 24px
    line-height: 1.2
    font-weight: 500
    //text-transform: uppercase
    color: $light
.top-line
  margin-bottom: 16px
  width: 120px
  height: 8px
  background-color: #c93555
  &__title
    margin-bottom: 49px
    font-family: 'Helvetica Neue Cyr', sans-serif
    font-size: 24px
    line-height: 1.2
    font-weight: 500
    color: #c93555
